global
    log 127.0.0.1:514  local0

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         {{ backend0_timeout_connect }}
    timeout client          {{ frontend0_timeout }}
    timeout server          {{ backend0_timeout_server }}
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


frontend {{ frontend0_name }}
  bind :{{ frontend0_port }}
  mode http

  acl ACL_rocket.test hdr(host) -i {{ frontend0_domain }}
  use_backend docker_rocketchat if ACL_rocket.test


backend docker_rocketchat
  mode http
  server docker1    {{ backend0 }}
